body{
    background-size:cover;
    background-image: url("../images/background.jpg");
}
.main-content{
    padding-left: 5%;
    padding-right: 5%;
    margin: 3% 3% 3% 3%;
    background-color: rgb(216, 154, 97);
    height: 450px;
    width: 45%;
    border-radius: 6ch

}
.title{
    text-align: center;
    padding:2%;
}
.timer{
    font-weight: 700;
}
.questionsGoHere{
    margin-top:20px;
}
.answersGoHere{
    margin-top:20px;
    right:30%;
}
.button{
    margin-top:2%;
    background-color: white;
    font-size: .5cm;
}




